<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Phonon CSS -->
    <link rel="stylesheet" href="https://unpkg.com/phonon@2.0.0-alpha.1/dist/css/phonon.min.css" integrity="sha384-YvRRhxrEwrswiEGUXRvWsOw0trb5T3Mg0OupNZ48rCk6Ri3+q6DSWlYpEyr24vSK" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Optional JavaScript -->
    <script src="https://unpkg.com/phonon@2.0.0-alpha.1/dist/js/phonon.min.js" integrity="sha384-m1wkisBdQfeP10FJfmEFUHZYSHzJEk3MroG9JfNrFjtxS8YirsDgkpwP5e1c631A" crossorigin="anonymous"></script>
  </body>
</html>


{% block content %}
		<h1>About Page</h1>
		<p>
			Make market plans with 
			No stress
		</p>
{% endblock content %}

