{% extends "home/layout.html" %}

{% block content %}
<div class="grid place-items-center h-screen">
    <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
                <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
                    <div class="flex-auto px-4 lg:px-10 py-10">
                        <form method="POST" action = "">
                            {{ form.hidden_tag() }}
                            <div class="relative w-full mb-3">
                                {{ form.email.label(class="block uppercase text-gray-700 text-xs font-bold mb-2", for="grid-password") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",placeholder="Email",style="transition: all 0.15s ease 0s;") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",placeholder="Email",style="transition: all 0.15s ease 0s;") }}
                                {% endif %}	
                            </div>
                           
                            
                            <div class="text-center mt-6">
                                {{ form.submit(class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                                ,style="transition: all 0.15s ease 0s;") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}