{% extends "home/layout.html" %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/full.css') }}" />
{% endblock %} {% block main_content %}
<div class="p-5">
	<div class="p-8 bg-base-100/100 shadow mt-24">
		<div class="grid grid-cols-1 md:grid-cols-3">
			<div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
				<div>
					<p class="font-bold text-gray-700 text-xl">
						{{ user.orders.__len__() }}
					</p>
					<p class="text-gray-400">Orders</p>
				</div>
				<div>
					<p class="font-bold text-gray-700 text-xl">10</p>
					<p class="text-gray-400">Groups</p>
				</div>
				<div>
					<p class="font-bold text-gray-700 text-xl">89</p>
					<p class="text-gray-400">Invitations</p>
				</div>
			</div>
			<div class="relative">
				<div
					class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
							clip-rule="evenodd" />
					</svg>
				</div>
			</div>
			<div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
				<button id="connect"
					class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
					Connect
				</button>
				<button
					class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
					Message
				</button>
			</div>
		</div>
		<div class="mt-20 text-center border-b pb-12">
			<h1 class="text-4xl font-medium text-light-700">
				{{ user.firstname }},
				<span class="font-light text-white-500">{{ user.lastname }}</span>
			</h1>
			<p class="font-light text-gray-400 mt-3">@{{ user.username }}</p>
		</div>
		<div class="mt-12 flex flex-col justify-center">
			<div class="overflow-x-auto">
				<table class="table w-full">
					<!-- head -->
					<thead>
						<tr>
							<th>Order</th>
						</tr>
					</thead>
					<tbody>
						<!-- row 1 -->
						{% for order in orders[0:6] %}
						<tr>
							<td>
								<div class=" flex">

									<div class="flex items-center">
										<div>
										<div class="font-bold">{{order.title}}</div>
										<div class="text-sm opacity-50">
											<div class=" capitalize text-primary">
												{{order.status}}
											</div>
										</div>
									</div>
								</div>
							
								<a class="flex flex-nowrap ml-auto" href="{{order.link}}">

									<button class="btn flex flex-nowrap ml-auto text-white view-order">
										<p class="pr-3">
											
											View
										</p>
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
										</svg>
										
									</button>
								</a>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td>

								<button
								class="btn flex flex-nowrap mx-auto text-white bg-gradient-to-r from-purple-800 to-green-500 hover:from-purple-500 hover:to-green-400 connect">
								View {{ orders[6:].__len__() }} More 
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block scripts %}
<script>
	var body = document.getElementsByTagName("body");
	body[0].classList.add("bg-base-200/25");
</script>
{% endblock %}