{% extends 'home/home.html' %}
{% block content %}
<div class="container pt-9 md:pt-19 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
                <div
                    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
                    <div class="rounded-t mb-0 px-6 py-6">
                        
                    </div>
                    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                        
                        <form method="POST" action = "">
                            {{ form.hidden_tag() }}
                            
                            <div class="relative w-full mb-3">
                                {{ form.password.label(class="block uppercase text-gray-700 text-xs font-bold mb-2",for="grid-password") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",placeholder="Password", style="transition: all 0.15s ease 0s;") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",placeholder="Password", style="transition: all 0.15s ease 0s;") }}
                                {% endif %}
                            </div>
                            <div class="relative w-full mb-3">
                                {{ form.password2.label(class="block uppercase text-gray-700 text-xs font-bold mb-2",for="grid-password") }}
                                {% if form.password2.errors %}
                                    {{ form.password2(class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",placeholder="Confirm Password", style="transition: all 0.15s ease 0s;") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password2.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password2(class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full",placeholder="Confirm Password", style="transition: all 0.15s ease 0s;") }}
                                {% endif %}
                            </div>
                           
                            <div class="text-center mt-6">
                                {{ form.submit(class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                                ,style="transition: all 0.15s ease 0s;") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}