{% extends 'layout/order_layout.html' %} {% block styles %} {{super()}} {{
	JSGlue.include() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/full.css') }}" />
{% endblock %} {% block content3 %}
<div class="content-section d-block border border-0 p-0 px-4">
	<div class=" h-screen bg-gray-100">
		<div class="overflow-auto rounded-lg shadow hidden md:block">
			<table class="w-full  mb-24">
				<thead class="bg-gray-50 border-b-2 border-gray-200">
					<tr>
						<th class="w-1/5 p-3 text-sm font-semibold tracking-wide text-left">
							#Items
						</th>

						
						
						<th class="w-1/5  p-3 text-sm font-semibold tracking-wide text-left">
							Quantity
						</th>
						
						<th class="w-1/5 text-sm font-semibold tracking-wide text-center">
							Measurement <small>based on</small><br>(Price / Measure)
						</th>
						
					</tr>
				</thead>

				<tbody id="tbody" class="divide-y divide-gray-100">

				</tbody>
			</table>
		</div>

	</div>


</div>
<div class="border-5 border-top fixed-bottom input-bar px-3 bg-light">
	<div class="form-group my-3">
		<input type="text" class="form-control input-group-text text-left" name="" id="order-input"
			placeholder="Click enter to add an item to the order" />
	</div>
</div>


{% endblock %} {% block scripts %}
<input type="checkbox" id="measure-modal" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<h3 class="font-bold text-lg">Create a New Measure</h3>
		<input id="measure-input" type="text" placeholder="Type here" class="input input-bordered input-primary w-full mt-4" />
		<div class="modal-action flex justify-start">
			<button id="submit-measure" class="btn btn-success">Yay! Create</button>
			<label id="cancel-measure" class="btn btn-warning" for="measure-modal">Oops! Cancel</label>
		</div>
	</div>
</div>
<script>
	window.appConfig = {
		title: "{{order.title}}",
		username: "{{order.get_owner().username}}",
		items: "{{ url_for('get_order', title=order.title, username=order.get_owner().username)|safe }}",
		create: "{{ url_for('create_order', title=order.title, username=order.get_owner().username)|safe }}",
		measure: "{{ url_for('get_measure')|safe }}",
	};
</script>
<script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
<script src="{{ url_for('static', filename='js/market-list.js') }}"></script>
{% endblock %}