{% extends "layout.html" %}
{% block styles %}
	<style>
		body{
			background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("{{ url_for('static', filename='svg/patternpad-mb-h1.svg') }}");
			background-size: cover;
			background-position: center;
			display: block;
		}
		
		nav{
			background: transparent !important;
			background-color: transparent;
		}
		.text-primary, small> a {
			--bs-text-opacity: 1;
			color: var(--purple) !important;
		}
		.btn-outline-purple{
			border-color: var(--purple) !important;
			color: var(--purple) !important;
		}
		.login{
			display: none;
		}
	</style>
{% endblock %}

{% block content3 %}
	<div class=" container">
		<div class="content-section bg-opacity-25 bg-body text-white col-md-6 mx-auto">
			<form method="POST" action = "">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Login</legend>
					
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}					
					</div>
					<div class="form-group">
						{{ form.password.label(class="form-control-label") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-check">
						{{ form.remember(class="form-check-input") }}
						{{ form.remember.label(class="form-check-label") }}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-purple btn-dark") }}
				</div>
				<small class="text-muted ml-2">
					<a href="{{ url_for('reset_password_request') }}">Forgot Password?</a>
				</small>
			</form>
		</div>
		<div class="border-top py-3 col-md-5 mx-auto">
			<small class="text-muted">
				Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
			</small>
		</div>
	</div>
{% endblock %}